@import "../../styles/color-definitions";

.aux {
  max-width: 980px;
  margin: 0 auto
}

.section {
  background: $color-white;
  padding: 22px 22px 0;
}

@media only screen and (min-width: 1024px) {
  .section {
      padding: 90px 20px 0;
    }
}

.section .grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}

.section .button {
  padding: 21px 20px 23px;
}

.title {
  color: $palette-grey-800;
}

.imageContainer {
  margin-top: 1em;
  text-align: center
}

@media only screen and (min-width: 64rem) {
  .imageContainer {
    margin: 0
  }
}

@media only screen and (min-width: 48rem) {
  .imageContainer {
    text-align: left
  }
}

.section .image {
  margin-bottom: 0;
}

.image img {
  display: inline-block;
  max-width: 70%;
}

@media only screen and (max-width: 30rem) {
  .image img {
    max-width: 100%
  }
}

@media only screen and (min-width: 48rem) {
  .image img {
    margin: 0;
    max-width: 100%;
    max-height: 500px;
    max-height: 31.25rem
  }
}

.grey {
  background-color: $palette-grey-100;
}

@media only screen and (min-width: 768px) {
  .reverse .grid {
    direction: rtl;
    text-align: left
  }
  .reverse .grid > .cell {
    direction: ltr;
    text-align: left
  }
}

.section {
  padding-bottom: 0
}

@media only screen and (max-width: 30rem) {
  .section .content {
    margin-bottom: 0
  }
}

@media only screen and (min-width: 48.0625rem) and (max-width: 63.9375rem) {
  .section .content {
    margin-bottom: 60px
  }
}

@media only screen and (min-width: 64rem) {
  .section .content {
    margin-bottom: 90px
  }
}
