.ag-blog {
    .ag-blog__posts {
        max-width: 900px;
        padding: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 0 auto;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
.ag-blog.mdl-layout .mdl-layout__content {
    padding-top: 230px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.ag-blog .mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 360px;
}
.ag-blog .mdl-card__title {
    padding: 16px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.ag-blog .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
}
.ag-blog .mdl-card__media a,
.ag-blog .mdl-card__title a {
    color: inherit;
}
.ag-blog .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ag-blog .mdl-card__supporting-text strong {
    font-weight: 400;
}
.ag-blog .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
}
.ag-blog .mdl-card__supporting-text:not(:last-child) {
    box-sizing: border-box;
    min-height: 76px;
}
.ag-blog:not(.ag-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ag-blog .mdl-card__actions:first-child {
    margin-left: 0;
}
.ag-blog .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}
.ag-blog .meta > .meta__favorites {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 8px;
    font-size: 13px;
    font-weight: 500;
}
.ag-blog .meta > .meta__favorites .material-icons {
    font-size: 2em;
    cursor: pointer;
    margin-left: 12px;
}
.ag-blog .mdl-card .meta.meta--fill {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.ag-blog .meta > *:first-child {
    margin-right: 16px;
}
.ag-blog .meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ag-blog.is-small-screen .ag-blog__posts > .mdl-card.coffee-pic {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}
.ag-blog.is-small-screen .ag-blog__posts > .mdl-card.something-else {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}
.ag-blog .coffee-pic .mdl-card__media {
    background-image: url('/images/coffee.jpg');
}
.ag-blog .something-else .mdl-card__media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ag-blog .something-else > button {
    position: absolute;
    top: 0;
    right: 28px;
    -webkit-transform: translate(0px, -28px);
    transform: translate(0px, -28px);
}
.ag-blog .something-else .mdl-card__media {
    font-size: 13px;
    font-weight: 500;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.ag-blog .something-else .mdl-card__media img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}
.ag-blog .something-else .mdl-card__supporting-text {
    background-color: #F5F5F5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.ag-blog .ag-blog__posts > .ag-nav {
    margin: 12px 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-weight: 500;
}
.ag-blog .ag-blog__posts > .ag-nav > .ag-nav__button {
    color: white;
    text-decoration: none;
}
.ag-blog .ag-blog__posts > .ag-nav .mdl-button {
    color: rgba(0, 0, 0, 0.54);
    background-color: white;
}
.ag-blog .ag-blog__posts > .ag-nav > .ag-nav__button:first-child .mdl-button {
    margin-right: 16px;
}
.ag-blog .ag-blog__posts > .ag-nav > .ag-nav__button:last-child .mdl-button {
    margin-left: 16px;
}
.ag-blog .mdl-card > a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}
.ag-blog .mdl-card h3 {
    margin: 0;
}
.ag-blog .mdl-card h3 a {
    text-decoration: none;
}
.ag-blog .mdl-card h3.quote:after,
.ag-blog .mdl-card h3.quote:before {
    display: block;
    font-size: 3em;
    margin-top: 0.5em;
}
.ag-blog .mdl-card h3.quote:before {
    content: 'â€œ';
}
.ag-blog .mdl-card h3.quote:after {
    content: 'â€';
}
.ag-blog--blogpost .custom-header {
    background-color: transparent;
}
.ag-blog--blogpost .ag-blog__posts > .mdl-card .mdl-card__media {
    height: 280px;
}
.ag-blog--blogpost .meta > * {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.ag-blog--blogpost .meta + .mdl-card__supporting-text {
    border: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ag-blog--blogpost .meta + .mdl-card__supporting-text p {
    max-width: 512px;
    margin: 16px auto;
    font-size: 16px;
    line-height: 28px;
}
.ag-blog--blogpost .ag-back {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    z-index: 9999;
}
.ag-blog .section-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.ag-blog .something-else {
    overflow: visible;
    z-index: 10;
}
.ag-blog .amazing .mdl-card__title {
    background-color: #263238;
}
.ag-blog .minilogo {
    width: 44px;
    height: 44px;
    background-image: url('/images/avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 22px;
    background-color: #F5F5F5;
}
/* Fixes for IE 10 */
.mdl-grid {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
