<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <section class="block app-price-plans">
        <div class="container text-center">

            <div class="row m-b-lg">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <h6 class="text-muted text-uppercase">Subscriptions for Enterprise User</h6>
                    <h3 class="m-t-0">We offer annual plans, but we just bump your plan whenever you need it.
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 p-x m-b-lg">
                    <div class="p-x">
                        <h6 class="text-uppercase m-b">
                            <strong>Starter</strong>
                        </h6>
                        <img class="m-b" src="/theme_agrista/static/src/img/plans/enterprise-0.svg"/>
                        <p>A free account for receiving gauranteed payments on our store.
                        </p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">
                        Request
                        <span class="visible-md-inline">trial</span>
                    </button>

                    <ul class="list-unstyled list-bordered text-left m-y-md">
                        <li class="p-y">
                            <strong>2</strong>
                            user limit
                        </li>
                        <li class="p-y">
                            <strong>50</strong>
                            customer limit
                        </li>
                        <li class="p-y">
                            <strong>Online and email</strong>
                            support only
                        </li>
                        <li class="p-y">
                            <strong>Product</strong>
                            listings in the store
                        </li>
                        <li class="p-y">
                            <strong>Gauranteed payments</strong>
                            from customers using the store
                        </li>
                    </ul>

                </div>

                <div class="col-sm-3 p-x m-b-lg">
                    <div class="p-x">
                        <h6 class="text-muted text-uppercase m-b">Standard</h6>
                        <img class="m-b" src="/theme_agrista/static/src/img/plans/enterprise-3999.svg"/>
                        <p>For smaller companies. Includes everything in<strong
                                class="text-uppercase app-plan">
                            Starter</strong>, plus:
                        </p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">
                        Request
                        <span class="visible-md-inline">trial</span>
                    </button>

                    <ul class="list-unstyled list-bordered text-left m-y-md">
                        <li class="p-y">
                            <strong>10</strong>
                            user limit
                        </li>
                        <li class="p-y">
                            <strong>250</strong>
                            customer limit
                        </li>
                        <li class="p-y">
                            <strong>Online and email</strong>
                            support only
                        </li>
                    </ul>

                </div>

                <div class="col-sm-3 p-x m-b-lg">
                    <div class="p-x">
                        <h6 class="text-muted text-uppercase m-b">Premium</h6>
                        <img class="m-b" src="/theme_agrista/static/src/img/plans/enterprise-14999.svg"/>
                        <p>For regional companies. Includes everything in<strong
                                class="text-uppercase app-plan">
                            Standard</strong>, plus:
                        </p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">
                        Request
                        <span class="visible-md-inline">trial</span>
                    </button>

                    <ul class="list-unstyled list-bordered text-left m-y-md">
                        <li class="p-y">
                            <strong>50</strong>
                            user limit
                        </li>
                        <li class="p-y">
                            <strong>2,500</strong>
                            customer limit
                        </li>
                        <li class="p-y">
                            <strong>Telephonic</strong>
                            support
                        </li>
                        <li class="p-y">
                            <strong>Telephonic</strong>
                            support
                        </li>
                    </ul>

                </div>

                <div class="col-sm-3 p-x m-b-lg">
                    <div>
                        <h6 class="text-muted text-uppercase m-b">Plus</h6>
                        <img class="m-b" src="/theme_agrista/static/src/img/plans/contact-us.svg"/>
                        <p class="p-x">For large companies. Includes everything in<strong
                                class="text-uppercase app-plan">
                            Premium</strong>, plus:
                        </p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">
                        Request
                        <span class="visible-md-inline">trial</span>
                    </button>

                    <ul class="list-unstyled list-bordered text-left m-y-md">
                        <li class="p-y">
                            <strong>Unlimited</strong>
                            users
                        </li>
                        <li class="p-y">
                            <strong>Unlimited</strong>
                            customers
                        </li>
                        <li class="p-y">
                            <strong>Allocated</strong>
                            account manager
                        </li>
                    </ul>

                </div>

            </div>
        </div>

     </section>
		
  </body>
</html>
