@import "../../styles/color-definitions";
/* Hero */
.wrapper {
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 56px;
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    margin-top: 80px;
  }
}

.container {
  background-size: cover;
  display: inline-block;
  width: 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

/*.hero--home .hero__bg-container {
    background-image: url("/images/pages/home/sections/hero/bg-dark-640w.jpg");
}

@media screen and (min-width: 640px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .hero--home .hero__bg-container {
      background-image: url("/images/pages/home/sections/hero/bg-dark-1280w.jpg");
  }
}

@media screen and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 640px), screen and (min-resolution: 192dpi) and (min-width: 640px) {
  .hero--home .hero__bg-container {
      background-image: url("/images/pages/home/sections/hero/bg-dark-2560w.jpg");
  }
}*/

.container {
  background-image: url("/images/pages/home/hero/hero-bg-480.jpg");
}
@media only screen and (min-width: 768px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-768.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-1024.jpg");
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-1200.jpg");
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.298039);
  padding: 12% 5% 8%;
}
@media only screen and (min-width: 768px) {
  .overlay {
    padding: 12% 5%;
  }
}

.title {
  font-size: 32px;
  font-weight: 100;
  color: $color-white;
  margin: 8px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 46px;
    margin: 24px 0 38px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 58px;
    margin: 28px 0 42px 0;
  }
}

.subTitle {
  font-weight: 100;
  color: $color-white;
  font-size: 24px;
  line-height: 1.4;
}

.cta {
  height: 44px !important;
  line-height: 44px !important;
  margin-top: 24px !important;
}

.fab {
  height: 56px !important;
  margin-left: -28px;
  margin-bottom: -28px;
  width: 56px;
  background: $color-white;
  bottom: 0;
  color: $color-accent;
  display: none;
  left: 50%;
  position: absolute;
}
@media only screen and (min-width: 1024px) {
  .fab {
    display: block;
  }
}

.fab .material-icons {
  margin-top: 2px;
  margin-top: 0.125rem;
}

.fab:hover {
  background: #fff;
}
