@import "../../styles/color-definitions";

.hero {
  position: relative;
//  text-align: center;
  vertical-align: middle;
  margin-top: 56px;
}
@media only screen and (min-width: 1024px) {
  .hero {
    margin-top: 80px;
  }
}

.container {
  background-size: cover;
  display: inline-block;
  width: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.container {
  background-image: url("/images/pages/home/hero/hero-bg-480.jpg");
}
@media only screen and (min-width: 768px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-768.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-1024.jpg");
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    background-image: url("/images/pages/home/hero/hero-bg-1200.jpg");
  }
}

.overlay {
  height: 100%;
  width: 90%;
  background: rgba(0, 0, 0, 0.298039);
  padding: 12% 5% 8%;
}
@media only screen and (min-width: 768px) {
  .overlay {
    padding: 12% 5%;
  }
}

.heroBlock {
  text-align: left;
}

.hero h1 {
  font-size: 33px;
  font-size: 2rem;
  margin: 8px 0 0;
  color: $color-white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media only screen and (min-width: 768px) {
  .hero h1 {
      font-size: 53px;
      margin: 24px 0 38px 0;
  }
}

.hero p {
  font-weight: 200;
  color: $color-white;
  font-size: 24px;
  line-height: 1.4;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hero .cta {
  height: 48px !important;
  line-height: 48px !important;
  margin-top: 24px !important;
  padding: 3px 21px;
}

.hero .fab {
  margin-left: -28px;
  margin-bottom: -28px;
  width: 56px;
  background-color: $color-white;
  bottom: 0;
  color: $color-accent;
  display: none;
  left: 50%;
  position: absolute;
  .material-icons {
    margin-top: 2px;
    margin-top: 0.125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hero .fab {
    display: block;
  }
}

.hero .fab:hover {
  background-color: $palette-grey-50;
}
