@import "../../styles/color-definitions";

.aux {
  max-width: 980px;
  margin: 0 auto;
}

.section {
  background: $color-white;
  padding: 22px 22px 0;
  text-align: center;
}

.section .item {
  text-align: center;
}

.section h4 {
  color: $palette-grey-800;
  font-weight: 300;
}

.image {
  background-color: $palette-grey-300;
  display: inline-block;
  font-size: 48px;
  text-align: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  top: 0;
  i {
    font-size: 40px;
    color: $color-white;
    line-height: 60px;
    text-align: center;
  }
}
