@import "../../styles/color-definitions";

.active {
  display: inherit;
}

@media (min-width: 771px) {
  .content {
      background-color: $color-primary;
      height: 398px;
      position: inherit;
      top: 60px;
      width: 100%;
  }
}

@media (min-width: 771px) {
  .primaryContainer {
      text-align: center;
  }
}

@media (min-width: 1351px) {
  .pageWidthContainer {
      margin-top: 16px;
  }
}

.page {
    max-width: 810px;
    background-color: $color-white;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    display: inline-block;
    position: inherit;
    width: 100%;
}

@media (min-width: 771px) {
  .page {
      min-height: 460px;
  }
}

nav h1 {
  color: $palette-grey-900;
}

@media (min-width: 771px) {
  nav h1 {
      display: block;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin: 0;
      padding: 16px 16px 16px 72px;
    }
}
