@brand-primary: #8BC34A;

.header {
  background-color: #ffffff !important;
  height: 56px !important;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media only screen and (min-width: 1024px) {
  .header {
    height: 80px !important;
    padding-top: 8px !important;
  }
}

.link {
  color: #757575 !important;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .link {
    font-size: 14px;
    padding: 0 16px;
  }
}

.link:hover {
  color: @brand-primary !important;
  text-decoration: none;
  transition: 0.15s ease-in color;
}

.navMenu {
  width: 32px;
  position: relative;
  ul {
    padding: 8px 0 !important;
  }
}
@media only screen and (min-width: 769px) {
  .navMenu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navBar {
    display: none;
  }
}

.menuBtn {
  font-size: 24px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 !important;
  line-height: normal !important;
  i {
    font-size: 24px;
    color: #757575;
  }
}

.menuLink {
  text-transform: uppercase;
  text-decoration: none;
}

.cta {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  line-height: 36px !important;
}
